body {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  color: #3b3b3b;
  background-color: #eaeef4 !important;
  font-size: 17px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
