
body {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  color: #dcb14c;
  background-color: #3b3b3b !important;
  font-size: 17px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.logo img {
  display: block;
  margin: 0 auto;
  border-radius: 10px !important;
}

.container {
  -webkit-transform: translateY(-45px);
  transform: translateY(-45px);
  text-align: left;
  background-color: #060913 !important;
  max-width: 720px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.08);
}

.container .action {
  text-align: center;
  padding: 30px 15px;
  background-color: #1e1e1e !important;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.btn {
  display: inline-flex;
  padding: .75rem 1.5rem;
  border-radius: 6px;
  line-height: 1.5rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: #060913 !important;
  font-weight: 700;
  font-size: 16px;
  will-change: transform;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #dcb14c !important;
}

.container .content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 34px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 15px 25px rgba(0,0,0,.08);
  color: #060913 !important;
}
